body{background-color: cornsilk}
h1, h2, h3{text-align: center}
#wrapper{width: 80%; margin: auto; background-color: darkorange; box-shadow: 5px 5px}
div{width: 90%; margin: auto}
.itembox{border-style: inset; border-radius: 3px; box-shadow: 4px 4px; background-color: cyan; color: midnightblue; padding: 10px 20px 10px 20px}
.favorite{border-style: groove; border-radius: 3px; box-shadow: 4px 4px; background-color: rgb(238, 255, 0); 
color: rgb(11, 37, 30); padding: 10px 20px 10px 20px}
ol{list-style-type: katakana; background-color: navajowhite;}
ul{list-style-type: lower-roman; background-color: peachpuff;}
nav{border-style: solid; border-radius: 3px; box-shadow: 4px 4px; background-color: rgb(13, 13, 14); color: rgb(236, 236, 236); padding: 1px 10px 1px 10px}
#list{display: inline-block; padding: 10px 10px;}
#list0{background-color: white; list-style-type: none}